<p>
  products!
</p>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <label>Name:
    <input formControlName="name">
  </label>
  <br>
  <label>Slug:
    <input formControlName="slug">
  </label>
  <br>
  <label>Brand:
    <select formControlName="brand">
      <option *ngFor="let brand of (brands$ | async)" [value]="brand.id">{{brand.name}}</option>
    </select>
  </label>
  <br>
  <label>image:
    <input type="file" (change)="uploadFile($event)">
    <span *ngIf="(uploadPercent | async) !== 0 || (uploadPercent | async) !== 100"> {{uploadPercent | async}}</span>
  </label>
  <br>
  <span *ngFor="let image of productForm.value?.images">
    <img width="100" height="100" [src]="image?.url" alt="{{image?.url}}">
    <span (click)="onRemoveImage(image.url)">&nbsp;X</span>
  </span>

  <br>
  <br>
  <button type="submit" [disabled]="!productForm.valid">Submit</button>
</form>

{{productForm.value | json}}

<hr>

<ul>
  <li *ngFor="let product of (products$ | async)">{{product.name}}
    <span (click)="onDelete(product.id)">&nbsp;X</span>
  </li>
</ul>